# Neural Network（ANN）

### Importing library

In [1]:
import numpy as np
import pandas as pd
import tensorflow as tf

In [2]:
tf.__version__

'2.11.0'

## Part 1 - Data preprocessing

### Importing Dataset

In [4]:
dataset = pd.read_csv('Churn_Modelling.csv')
X = dataset.iloc[:, 3:-1].values
y = dataset.iloc[:, -1].values

In [5]:
dataset

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,15606229,Obijiaku,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,9997,15569892,Johnstone,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,9998,15584532,Liu,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,9999,15682355,Sabbatini,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,10000,15628319,Walker,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

In [7]:
print(X)

[[619 'France' 'Female' ... 1 1 101348.88]
 [608 'Spain' 'Female' ... 0 1 112542.58]
 [502 'France' 'Female' ... 1 0 113931.57]
 ...
 [709 'France' 'Female' ... 0 1 42085.58]
 [772 'Germany' 'Male' ... 1 0 92888.52]
 [792 'France' 'Female' ... 1 0 38190.78]]

In [8]:
print(y)

[1 0 1 ... 1 1 0]

In [9]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

### Encoding of categorical variables

Encoding of "Gender"

In [10]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
X[:, 2] = le.fit_transform(X[:, 2])

In [11]:
print(X)

[[619 'France' 0 ... 1 1 101348.88]
 [608 'Spain' 0 ... 0 1 112542.58]
 [502 'France' 0 ... 1 0 113931.57]
 ...
 [709 'France' 0 ... 0 1 42085.58]
 [772 'Germany' 1 ... 1 0 92888.52]
 [792 'France' 0 ... 1 0 38190.78]]

 Encoding of "Geography"

In [12]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
ct = ColumnTransformer(transformers=[('encoder', OneHotEncoder(), [1])], remainder='passthrough')
X = np.array(ct.fit_transform(X))

In [13]:
print(X)

[[1.0 0.0 0.0 ... 1 1 101348.88]
 [0.0 0.0 1.0 ... 0 1 112542.58]
 [1.0 0.0 0.0 ... 1 0 113931.57]
 ...
 [1.0 0.0 0.0 ... 0 1 42085.58]
 [0.0 1.0 0.0 ... 1 0 92888.52]
 [1.0 0.0 0.0 ... 1 0 38190.78]]

### Feature-Scaling

In [14]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X = sc.fit_transform(X)

In [15]:
print(X)

[[ 0.99720391 -0.57873591 -0.57380915 ...  0.64609167  0.97024255
   0.02188649]
 [-1.00280393 -0.57873591  1.74273971 ... -1.54776799  0.97024255
   0.21653375]
 [ 0.99720391 -0.57873591 -0.57380915 ...  0.64609167 -1.03067011
   0.2406869 ]
 ...
 [ 0.99720391 -0.57873591 -0.57380915 ... -1.54776799  0.97024255
  -1.00864308]
 [-1.00280393  1.72790383 -0.57380915 ...  0.64609167 -1.03067011
  -0.12523071]
 [ 0.99720391 -0.57873591 -0.57380915 ...  0.64609167 -1.03067011
  -1.07636976]]

### Spliting the dataset for training and testing

In [16]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0)

## Part 2 - Building ANNs

### Initializing ANN

In [17]:
ann = tf.keras.models.Sequential()

### Adding an input layer and a first hidden layer

In [18]:
ann.add(tf.keras.layers.Dense(units=6, activation='relu'))

### Adding a second hidden layer

In [19]:
ann.add(tf.keras.layers.Dense(units=6, activation='relu'))

### Adding a output layer

In [20]:
ann.add(tf.keras.layers.Dense(units=1, activation='sigmoid'))

## ANN training (learning)

### Compilation of ANN

In [21]:
ann.compile(optimizer = 'adam', loss = 'binary_crossentropy', metrics = ['accuracy'])

### ANN training using training dataset

In [22]:
ann.fit(X_train, y_train, batch_size = 32, epochs = 100)

Epoch 1/100
250/250 [==============================] - 2s 2ms/step - loss: 0.5956 - accuracy: 0.7956
Epoch 2/100
250/250 [==============================] - 0s 2ms/step - loss: 0.5037 - accuracy: 0.7960
Epoch 3/100
250/250 [==============================] - 0s 2ms/step - loss: 0.4548 - accuracy: 0.7990
Epoch 4/100
250/250 [==============================] - 0s 2ms/step - loss: 0.4261 - accuracy: 0.8110
Epoch 5/100
250/250 [==============================] - 0s 2ms/step - loss: 0.4111 - accuracy: 0.8206
Epoch 6/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3997 - accuracy: 0.8271
Epoch 7/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3892 - accuracy: 0.8342
Epoch 8/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3808 - accuracy: 0.8410
Epoch 9/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3742 - accuracy: 0.8443
Epoch 10/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3696 - accuracy: 0.8472
Epoch 11/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3654 - accuracy: 0.8476
Epoch 12/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3621 - accuracy: 0.8521
Epoch 13/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3593 - accuracy: 0.8522
Epoch 14/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3571 - accuracy: 0.8530
Epoch 15/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3552 - accuracy: 0.8530
Epoch 16/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3535 - accuracy: 0.8554
Epoch 17/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3517 - accuracy: 0.8576
Epoch 18/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3501 - accuracy: 0.8574
Epoch 19/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3487 - accuracy: 0.8570
Epoch 20/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3473 - accuracy: 0.8580
Epoch 21/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3464 - accuracy: 0.8593
Epoch 22/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3453 - accuracy: 0.8599
Epoch 23/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3446 - accuracy: 0.8593
Epoch 24/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3435 - accuracy: 0.8595
Epoch 25/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3429 - accuracy: 0.8606
Epoch 26/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3418 - accuracy: 0.8609
Epoch 27/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3406 - accuracy: 0.8604
Epoch 28/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3402 - accuracy: 0.8620
Epoch 29/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3398 - accuracy: 0.8620
Epoch 30/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3392 - accuracy: 0.8622
Epoch 31/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3377 - accuracy: 0.8631
Epoch 32/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3373 - accuracy: 0.8631
Epoch 33/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3374 - accuracy: 0.8633
Epoch 34/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3367 - accuracy: 0.8621
Epoch 35/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3364 - accuracy: 0.8634
Epoch 36/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3356 - accuracy: 0.8627
Epoch 37/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3355 - accuracy: 0.8654
Epoch 38/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3350 - accuracy: 0.8640
Epoch 39/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3344 - accuracy: 0.8625
Epoch 40/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3342 - accuracy: 0.8635
Epoch 41/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3339 - accuracy: 0.8639
Epoch 42/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3339 - accuracy: 0.8627
Epoch 43/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3337 - accuracy: 0.8631
Epoch 44/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3332 - accuracy: 0.8640
Epoch 45/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3326 - accuracy: 0.8634
Epoch 46/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3320 - accuracy: 0.8640
Epoch 47/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3323 - accuracy: 0.8636
Epoch 48/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3320 - accuracy: 0.8640
Epoch 49/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3320 - accuracy: 0.8648
Epoch 50/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3319 - accuracy: 0.8636
Epoch 51/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3317 - accuracy: 0.8630
Epoch 52/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3317 - accuracy: 0.8627
Epoch 53/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3314 - accuracy: 0.8634
Epoch 54/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3311 - accuracy: 0.8622
Epoch 55/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3309 - accuracy: 0.8631
Epoch 56/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3307 - accuracy: 0.8639
Epoch 57/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3312 - accuracy: 0.8636
Epoch 58/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3307 - accuracy: 0.8640
Epoch 59/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3307 - accuracy: 0.8620
Epoch 60/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3305 - accuracy: 0.8630
Epoch 61/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3304 - accuracy: 0.8637
Epoch 62/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3305 - accuracy: 0.8635
Epoch 63/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3304 - accuracy: 0.8633
Epoch 64/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3302 - accuracy: 0.8635
Epoch 65/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3304 - accuracy: 0.8616
Epoch 66/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3300 - accuracy: 0.8646
Epoch 67/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3301 - accuracy: 0.8646
Epoch 68/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3299 - accuracy: 0.8636
Epoch 69/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3293 - accuracy: 0.8634
Epoch 70/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3297 - accuracy: 0.8640
Epoch 71/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3296 - accuracy: 0.8643
Epoch 72/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3293 - accuracy: 0.8651
Epoch 73/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3293 - accuracy: 0.8625
Epoch 74/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3295 - accuracy: 0.8635
Epoch 75/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3290 - accuracy: 0.8637
Epoch 76/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3290 - accuracy: 0.8645
Epoch 77/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3291 - accuracy: 0.8633
Epoch 78/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3297 - accuracy: 0.8636
Epoch 79/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3289 - accuracy: 0.8644
Epoch 80/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3286 - accuracy: 0.8644
Epoch 81/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3289 - accuracy: 0.8619
Epoch 82/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3287 - accuracy: 0.8634
Epoch 83/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3285 - accuracy: 0.8651
Epoch 84/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3292 - accuracy: 0.8644
Epoch 85/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3283 - accuracy: 0.8637
Epoch 86/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3288 - accuracy: 0.8637
Epoch 87/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3286 - accuracy: 0.8627
Epoch 88/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3280 - accuracy: 0.8641
Epoch 89/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3282 - accuracy: 0.8643
Epoch 90/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3278 - accuracy: 0.8648
Epoch 91/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3283 - accuracy: 0.8634
Epoch 92/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3282 - accuracy: 0.8640
Epoch 93/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3283 - accuracy: 0.8633
Epoch 94/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3282 - accuracy: 0.8641
Epoch 95/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3277 - accuracy: 0.8644
Epoch 96/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3278 - accuracy: 0.8641
Epoch 97/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3278 - accuracy: 0.8652
Epoch 98/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3275 - accuracy: 0.8635
Epoch 99/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3277 - accuracy: 0.8643
Epoch 100/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3279 - accuracy: 0.8645

## Part 4 - Predicting Results and Evaluating Models

### Predicting Results with Test Data

In [23]:
y_pred = ann.predict(X_test)
y_pred = (y_pred > 0.5)
print(np.concatenate((y_pred.reshape(len(y_pred),1), y_test.reshape(len(y_test),1)),1))

63/63 [==============================] - 0s 1ms/step
[[0 0]
 [0 1]
 [0 0]
 ...
 [0 0]
 [0 0]
 [0 0]]

### Creating a confusion matrix

In [24]:
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test, y_pred)
print(cm)

[[1516   79]
 [ 191  214]]